# Python
__pycache__/
*.pyc
.venv/
venv/

# C++ build
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
compile_commands.json

# ROS2 / colcon (if applicable)
install/
log/

# IDE / OS
.vscode/
.idea/
Thumbs.db
.DS_Store
